{% extends "_base.html" %}

{% block content %}
<div class="table-scroll-wrapper">
    <table>
        <thead>
            <tr>
                <th>UUID</th>
                <th>Username</th>
                <th>First Seen At</th>
            </tr>
        </thead>
        <tbody>
            {% for player in result %}
            <tr>
                <td>{{ player.uuid }}</td>
                <td>{{ player.username }}</td>
                <td>{{ player.first_seen_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}