{% extends "_base.html" %}

{% block content %}
<div class="table-scroll-wrapper">
    <table>
        <thead>
            <tr>
                <th>UUID</th>
                <th>Username</th>
                <th>First Seen At</th>
            </tr>
        </thead>
        <tbody>
            {% for player in data %}
            <tr>
                <td>{{ player["uuid"] }}</td>
                <td width="250px;">{{ player["username"] }}</td>
                <td width="175px;">{{ player["first_seen_at"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}